
.idea/
.vs/
.vscode/
*.pem

build/
cmake-build-debug/
cmake-build-release/

Debug/
Release/
logs/

*.meta.cpp
code/app/generated
code/app/include/constants.h
code/app/include/constants.h
code/app/include/server_constants.h

build_win/libcpputils/cpputils_unittests/*.txt
