
.idea/
.vs/
.vscode/
*.pem

build/
cmake-build-debug/
cmake-build-release/

Debug/
Release/
logs/

*.meta.cpp
code/client/include/constants.h
code/server/include/constants.h

build_win/libcpputils/cpputils_unittests/*.txt
